/EventManagmentSystem/nbproject/private/
/EventManagmentSystem/build/
/EventManagmentSystem/dist/
/EventManagementSoftware/nbproject/private/
/EventManagementSoftware/build/
/EventManagementSoftware/dist/